name: Release from Cargo.toml

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build - ${{ matrix.platform.os_name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: target/release/phdupes.exe
            name: phdupes-windows.exe

          - os_name: Linux-x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: target/release/phdupes
            name: phdupes-linux-x86_64

    steps:
    - uses: actions/checkout@v6

    - name: Install Rust 1.92.0
      uses: dtolnay/rust-toolchain@1.92.0
      with:
        targets: "${{ matrix.platform.target }}"

    - name: Build Binary
      run: cargo build --release --verbose --target ${{ matrix.platform.target }}

    - name: Get Version
      id: get_version
      shell: bash
      run: |
        # Extracts the version line from Cargo.toml (e.g., version = "0.1.0")
        VERSION=$(awk -F'"' '/^version/{print $2; exit}' Cargo.toml)
        echo "Detected version: $VERSION"
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Rename and Move
      shell: bash
      run: |
        mkdir -p staging
        cp "${{ matrix.platform.bin }}" "staging/${{ matrix.platform.name }}"

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: binary-${{ matrix.platform.os_name }}
        path: staging/
        retention-days: 1

  create-release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6

    - name: Install Rust 1.92.0
      uses: dtolnay/rust-toolchain@1.92.0
      with:
        targets: "${{ matrix.platform.target }}"

    - name: Build Binary
      run: cargo build --release --verbose --target ${{ matrix.platform.target }}

    - name: Get Version and Package
      id: package
      shell: bash
      run: |
        VERSION=$(awk -F '[""]' '/^version/ { print $2; exit }' Cargo.toml)
        echo "Found version: $VERSION"

        BASE_NAME=$(basename "${{ matrix.platform.name }}" .exe)

        if [[ "${{ matrix.platform.name }}" == *".exe" ]]; then
          NEW_FILENAME="${BASE_NAME}-v${VERSION}.exe"
        else
          NEW_FILENAME="${BASE_NAME}-v${VERSION}"
        fi

        echo "Renaming to: $NEW_FILENAME"

        mkdir -p staging
        cp "${{ matrix.platform.bin }}" "staging/$NEW_FILENAME"

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: binary-${{ matrix.platform.os_name }}
        path: staging/*
